/*header*/

.header-contato {
    background-image: url("/images/contatoheader.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.logo-contato {
    width: 12rem;
}

.title-header-contato {
    width: auto;
    height: 15rem;
    position: absolute;
    left: 15rem;
    bottom: 8rem
}

.navbar-contato {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}


.nav-itens-contato {
    display: flex;
    gap: 10rem;
    padding-left: 2.5rem;
}

.nav-itens-contato a {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.nav-itens-contato li a:hover {
    color: rgb(194, 194, 194);
    text-decoration: underline solid #fe7467 2px
}

@media screen and (max-width: 768px){
    .navbar-contato{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .nav-itens-contato{
        gap: 1.5rem;
        padding-left: 0%;
    }

    .title-header-contato{
        height: 10rem;
        left: 2.5rem;
        bottom: 6rem;
    }

    .header-contato{
        background-image: url(/images/contatoheader_mobile.jpg);
    }
}


/*main*/

/*section*/

.main-contato{
    text-align: center;
}

.section-contato h2 {
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    padding-top: 10px;
    padding-bottom: 1rem;
}

.section-contato p {
    font-size: 1.5rem;
    width: 100%;
    padding: 0 20%;
    margin: 15px 0;
}

.form-layout-geral {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.section-contato input {
    display: flex;
    border-radius: 5px;
    background-color: rgba(244, 244, 244, 0.73);
    border: 2px solid gray;
    margin: 1rem 0;
    padding: 10px 30px;
}

.section-contato textarea {
    border-radius: 10px;
    background-color: rgba(244, 244, 244, 0.73);
    border: 2px solid gray;
    margin: 10px;
    padding: 30px;
}

.button-contato{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-contato button {
    background: linear-gradient(#fe7467, #fc3836);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.5% 15%;
    margin-top: 1px;
    margin-bottom: 30px;
    cursor: pointer;
}

.button-contato:hover {
    font-weight: bold;
}

@media screen and (max-width: 768px){

    .section-contato p{
        width: 100%;
        font-size: 1rem;
    }
    .form-layout{
        display: flex;
        flex-direction: column;
    }

    .section-contato button{
        padding: 5px 75px;
    }
}